<div style="padding: 0 17.5% 2% 17.5%; margin-top: 3%;">
    <div *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <div style="text-align: center;">
            <h1>Phone Accessories</h1>
            <p style="margin-bottom: 30px;">
                Click on a product to add it to cart!
            </p>
        </div>
        <mat-grid-list
            [cols]="isMobile ? 1 : isTablet ? 2 : isLaptop ? 3 : 4"
            rowHeight="430px"
        >
            <mat-grid-tile *ngFor="let product of products; let i = index">
                <mat-card
                    matTooltip="I want this!"
                    mat-ripple
                    class="mat-elevation-z8"
                    (click)="addProductToCart(i)"
                >
                    <mat-card-title>
                        {{ product.name }}
                    </mat-card-title>
                    <mat-card-subtitle style="margin-top: 5px;">
                        Price: ${{ product.price }}
                    </mat-card-subtitle>
                    <img
                        mat-card-image
                        src="assets/productImages/{{
                            product.productImagePath
                        }}"
                        style="width: 220px; height: 220px;"
                    />
                    <mat-card-content>
                        <div style="margin-top: 20px;">
                            {{ product.description }}
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
