.mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    border-top: 5px solid #1f2f98;
}

.mat-card-title {
    margin: 0;
    text-align: center;
}
