<div>
    <div *ngIf="!loaded" style="padding: 0 17.5% 0 17.5%; margin-top: 3%;">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <mat-drawer-container>
            <mat-drawer
                style="width: 20%; padding: 3% 2%; text-align: center;"
                mode="side"
                opened
            >
                <img
                    style="width: 200px; height: 200px; border-radius: 50%;"
                    *ngIf="imageLoading"
                    src="../../../assets/account/noprofile2.jpg"
                />

                <img
                    style="width: 200px; height: 200px; border-radius: 50%; border-width: 5px;"
                    [src]="profilePicture"
                    *ngIf="!imageLoading"
                />
                <mat-divider style="margin: 15px 0;"></mat-divider>
                <div
                    style="
                        font-size: x-large;
                        text-align: center;
                        font-weight: 600;
                        
                    "
                >
                    My Account
                </div>
                <mat-divider style="margin: 15px 0;"></mat-divider>
                <button mat-button routerLink="/subscriptions">
                    My Subscriptions
                </button>
                <br />
                <button mat-button routerLink="/bills">My Bills</button>
            </mat-drawer>

            <mat-drawer-content
                style="height: calc(100vh - padding); padding: 3% 17.5% 3% 2%;"
            >
                <mat-grid-list cols="5" gutterSize="10" rowHeight="6em">
                    <mat-grid-tile
                        colspan="2"
                        [rowspan]="1.5"
                        class="mat-elevation-z2"
                        style="width: 100%;"
                    >
                        <mat-card style="width: 100%; height: 100%;">
                            <mat-card-title style="padding: 15px 0 0 5px;"
                                >Personal Profile</mat-card-title
                            >
                            <mat-divider></mat-divider>
                            <mat-card-subtitle
                                style="padding: 10px 0 0 5px; margin-bottom: 0;"
                                >My Particulars
                            </mat-card-subtitle>
                            <mat-card-content style="padding: 5px 5px;">
                                <p>
                                    {{ currentCustomer.firstName }}
                                    {{ currentCustomer.lastName }}<br />
                                    {{ currentCustomer.email }}
                                </p>
                            </mat-card-content>
                            <mat-card-actions
                                style="text-align: right; margin-bottom: 10px;"
                            >
                                <button
                                    mat-button
                                    (click)="updateParticulars()"
                                >
                                    EDIT
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>

                    <mat-grid-tile
                        colspan="3"
                        [rowspan]="1.5"
                        class="mat-elevation-z2"
                        style="width: 100%;"
                    >
                        <mat-card style="width: 100%; height: 100%;">
                            <mat-card-title style="padding: 15px 0 0 5px;"
                                >Address Book</mat-card-title
                            >
                            <mat-divider></mat-divider>
                            <mat-card-subtitle
                                style="padding: 10px 0 0 5px; margin-bottom: 0;"
                                >Default Shipping Address
                            </mat-card-subtitle>

                            <mat-card-content style="padding: 5px 5px;">
                                <p>
                                    {{ currentCustomer.address }}<br />
                                    Singapore: {{ currentCustomer.postalCode }}
                                </p>
                            </mat-card-content>
                            <!-- <mat-card-actions style="text-align: right; margin-bottom: 10px;">
                                <button mat-button>EDIT</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-card class="mat-elevation-z2" style="margin-top: 10px;">
                    <mat-card-title
                        matBadgePosition="before"
                        [matBadge]="sessionService.getAnnouncements().length"
                        [matBadgeHidden]="
                            !sessionService.getAnnouncements().length
                        "
                        style="padding: 10px 0 0 5px;"
                        >Announcements</mat-card-title
                    >
                    <table
                        mat-table
                        [dataSource]="announcements"
                        [hidden]="!loaded"
                        style="width: 100%;"
                    >
                        <ng-container matColumnDef="item">
                            <th
                                style="text-align: left; width: 10%;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Ref No.
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="let announcement"
                            >
                                <span>
                                    {{ announcement.announcementId }}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                            <th
                                style="text-align: center; width: 25%;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Title
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="let announcement"
                            >
                                {{ announcement.title }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th
                                style="text-align: center; width: 25%;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Posted On
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="let announcement"
                            >
                                <div>
                                    {{ announcement.postedDate | date }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th
                                style="text-align: center; width: 15%;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                View
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="let announcement; let i = index"
                            >
                                <button (click)="openDialog(i)" mat-icon-button>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="announcementDisplayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="
                                let row;
                                columns: announcementDisplayedColumns
                            "
                        ></tr>
                    </table>
                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                    ></mat-paginator>
                </mat-card>

                <mat-card class="mat-elevation-z2" style="margin-top: 10px;">
                    <mat-card-title style="padding: 10px 0 0 5px;"
                        >My Orders</mat-card-title
                    >
                    <mat-tab-group
                        (selectedTabChange)="filterTransactions($event)"
                    >
                        <mat-tab
                            *ngFor="let tab of tabs; let index = index"
                            [label]="tab"
                        >
                            <table
                                mat-table
                                [dataSource]="transactions"
                                style="width: 100%;"
                            >
                                <ng-container matColumnDef="item">
                                    <th
                                        style="text-align: left; width: 10%;"
                                        mat-header-cell
                                        *matHeaderCellDef
                                    >
                                        Ref No.
                                    </th>
                                    <td
                                        style="text-align: center;"
                                        mat-cell
                                        *matCellDef="let transaction"
                                    >
                                        <span>
                                            {{ transaction.transactionId }}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th
                                        style="text-align: center; width: 25%;"
                                        mat-header-cell
                                        *matHeaderCellDef
                                    >
                                        Placed On
                                    </th>
                                    <td
                                        style="text-align: center;"
                                        mat-cell
                                        *matCellDef="let transactionLineItem"
                                    >
                                        <div>
                                            {{
                                                transactionLineItem.transactionDateTime
                                                    | date
                                            }}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th
                                        style="text-align: center; width: 25%;"
                                        mat-header-cell
                                        *matHeaderCellDef
                                    >
                                        Status
                                    </th>
                                    <td
                                        style="text-align: center;"
                                        mat-cell
                                        *matCellDef="
                                            let transaction;
                                            let i = index
                                        "
                                    >
                                        {{ transaction.transactionStatusEnum }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="price">
                                    <th
                                        style="text-align: center; width: 25%;"
                                        mat-header-cell
                                        *matHeaderCellDef
                                    >
                                        Price
                                    </th>
                                    <td
                                        style="text-align: center;"
                                        mat-cell
                                        *matCellDef="let transaction"
                                    >
                                        ${{ transaction.totalPrice.toFixed(2) }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th
                                        style="text-align: center; width: 15%;"
                                        mat-header-cell
                                        *matHeaderCellDef
                                    >
                                        Manage
                                    </th>
                                    <td
                                        style="text-align: center;"
                                        mat-cell
                                        *matCellDef="let transaction"
                                    >
                                        <button
                                            mat-icon-button
                                            (click)="
                                                manageTransaction(
                                                    transaction.transactionId
                                                )
                                            "
                                        >
                                            <mat-icon>launch</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumns"
                                ></tr>
                                <tr
                                    mat-row
                                    *matRowDef="
                                        let row;
                                        columns: displayedColumns
                                    "
                                ></tr>
                            </table>
                            <mat-paginator
                                [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons
                            ></mat-paginator>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
