<div style="padding: 0 10% 2% 10%; margin-top: 3%;">
    <div>
        <div style="text-align: center;">
            <h1>Meet the Team!</h1>
            <p style="margin-bottom: 20px;">
                Without these people, Tellybuddy wouldn't have come to fruition.
            </p>
        </div>
        <mat-grid-list
            rowHeight="400px"
            [cols]="isMobile ? 1 : isTablet ? 2 : 4"
        >
            <mat-grid-tile>
                <div style="text-align: center;">
                    <img
                        style="width: 200px; height: 200px; border-radius: 50%;"
                        src="../../../assets/about/tayjl.jpg"
                    />
                    <div style="font-size: larger; margin: 10px 0;">
                        Tay Jun Le
                    </div>
                    <div
                        style="
                            font-style: italic;
                            font-weight: 500;
                            margin: 10px 0;
                        "
                    >
                        Co-Founder
                    </div>
                    <div style="font-style: italic; margin-top: 25px;">
                        Just happy to be here.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="text-align: center;">
                    <img
                        style="width: 200px; height: 200px; border-radius: 50%;"
                        src="../../../assets/about/mt.jpg"
                    />
                    <div style="font-size: larger; margin: 10px 0;">
                        Mark Tan Jun Xuan
                    </div>
                    <div
                        style="
                            font-style: italic;
                            font-weight: 500;
                            margin: 10px 0;
                        "
                    >
                        Co-Founder
                    </div>
                    <div style="font-style: italic; margin-top: 25px;">
                        Ctrl-C. Ctrl-V. Skillfully.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="text-align: center;">
                    <img
                        style="width: 200px; height: 200px; border-radius: 50%;"
                        src="../../../assets/about/kx.jpg"
                    />
                    <div style="font-size: larger; margin: 10px 0;">
                        Zhu Kaixin
                    </div>
                    <div
                        style="
                            font-style: italic;
                            font-weight: 500;
                            margin: 10px 0;
                        "
                    >
                        Co-Founder
                    </div>
                    <div style="font-style: italic; margin-top: 25px;">
                        Aesthetic Master.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="text-align: center;">
                    <img
                        style="width: 200px; height: 200px; border-radius: 50%;"
                        src="../../../assets/about/jw.jpg"
                    />
                    <div style="font-size: larger; margin: 10px 0;">
                        Ng Jing Wen
                    </div>
                    <div
                        style="
                            font-style: italic;
                            font-weight: 500;
                            margin: 10px 0;
                        "
                    >
                        Co-Founder
                    </div>
                    <div style="font-style: italic; margin-top: 25px;">
                        Aesthetic Master 2.0.
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
