<div>
    <section>
        <!-- <img
        style="width: 100%;"
        src="http://img.alicdn.com/tfs/TB1yZVAauL2gK0jSZFmSuw7iXXa.jpg#width=1920&height=700"
    /> -->
        <!-- <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true" style="margin-bottom: 0;text-align: center; font-weight: 700;" type="info" dismissible="true"> -->
        <!-- {{ announcements[0].content.substr(3,announcements[0].content.length-7) }}</ngb-alert> -->
        <ngb-carousel style="width: 100%;" (slide)="changeSlide($event)">
            <ng-template #slider ngbSlide>
                <div
                    class="picsum-img-wrapper animated"
                    [ngClass]="left ? 'fadeInLeft' : 'fadeInRight'"
                    style="background-color: gray; animation-duration: 0.5s;"
                >
                    <img
                        src="../../../assets/homePage/slide1.jpg"
                        alt="Random first slide"
                        style="width: 100%;"
                    />
                </div>
            </ng-template>
            <ng-template #slider ngbSlide>
                <div
                    class="picsum-img-wrapper animated"
                    [ngClass]="left ? 'fadeInLeft' : 'fadeInRight '"
                    style="background-color: gray; animation-duration: 0.5s;"
                >
                    <img
                        src="../../../assets/homePage/slide2.jpg"
                        alt="Random second slide"
                        style="width: 100%;"
                    />
                </div>
            </ng-template>
        </ngb-carousel>
    </section>
    <section>
        <h3 *ngIf="sessionService.getIsLogin() == true">
            Welcome back,
            {{ sessionService.getCurrentCustomer().firstName.toUpperCase() }}
            {{ sessionService.getCurrentCustomer().lastName.toUpperCase() }}
        </h3>
    </section>
    <section style="background-color: #f6f6f6;">
        <mat-grid-list cols="4">
            <mat-grid-tile>
                <div style="position: absolute; left: 80px; top: 50px;">
                    <div style="font-size: 24px; margin-bottom: 10px;">
                        Tellybuddy
                    </div>
                    <a
                        href="http://localhost:8080/tellybuddy-war"
                        target="_blank"
                        class="links"
                        >Corporate Login</a
                    >
                    <br />
                    <a class="links">About</a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div
                    style="position: absolute; left: 0; top: 50px; width: 100%;"
                >
                    <div style="font-size: 24px;">
                        Payment Methods
                    </div>
                    <div>
                        <img
                            height="80px"
                            width="80px"
                            src="../../../assets/homePage/visa.png"
                            style="margin-right: 25px;"
                        />
                        <img
                            height="80px"
                            width="80px"
                            src="../../../assets/homePage/mastercard.png"
                            style="margin-right: 25px;"
                        />
                        <img
                            height="80px"
                            width="80px"
                            src="../../../assets/homePage/amex.png"
                        />
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div
                    style="position: absolute; left: 0; top: 50px; width: 100%;"
                >
                    <div style="font-size: 24px; margin-bottom: 10px;">
                        Delivery Services
                    </div>
                    <div>
                        <img
                            src="../../../assets/homePage/ninjavan.svg"
                            style="
                                margin-right: 25px;
                                width: 120px;
                                height: auto;
                            "
                        />
                        <img
                            src="../../../assets/homePage/singpost.png"
                            style="
                                margin-right: 25px;
                                width: 120px;
                                height: auto;
                            "
                        />
                        <img
                            src="../../../assets/homePage/cj-logistics.png"
                            style="width: 120px; height: auto;"
                        />
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="position: absolute; left: 0; top: 50px;">
                    <div style="font-size: 24px; margin-bottom: 10px;">
                        Download the App
                    </div>
                    <div>
                        <img
                            src="../../../assets/homePage/google-play.png"
                            style="
                                margin-right: 25px;
                                width: 120px;
                                height: auto;
                            "
                        />
                        <img
                            src="../../../assets/homePage/app-store.png"
                            style="
                                margin-right: 25px;
                                width: 120px;
                                height: auto;
                            "
                        />
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <div style="padding: 15px 50px;">
            © Tellybuddy 2020. All rights reserved.
        </div>
    </section>
</div>
