<div>
    <div *ngIf="!loaded" style="margin-top: 3%;">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <section>
            <mat-carousel
                timings="400ms ease-in"
                [autoplay]="true"
                interval="5000"
                color="accent"
                maxWidth="auto"
                proportion="40"
                slides="5"
                [loop]="true"
                [hideArrows]="false"
                [hideIndicators]="false"
                [useKeyboard]="true"
                [useMouseWheel]="false"
            >
                <mat-carousel-slide
                    [hideOverlay]="true"
                    image="../../../assets/homePage/slide1.jpg"
                >
                </mat-carousel-slide>
                <mat-carousel-slide
                    [hideOverlay]="true"
                    image="../../../assets/homePage/slide2.jpg"
                >
                </mat-carousel-slide>
                <mat-carousel-slide
                    [hideOverlay]="true"
                    image="../../../assets/homePage/slide3.png"
                >
                </mat-carousel-slide>
            </mat-carousel>
        </section>
        <section
            *ngIf="availableDiscountCodes.length"
            style="background-color: #f6f6f6;"
        >
            <div style="padding-top: 2.25%; text-align: center;">
                <h2 style="margin: 0;">
                    Grab the latest discount codes while they last!
                    <button (click)="loadDiscountCodes()" mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                    </button>
                </h2>
            </div>
            <div *ngIf="!loadedDiscountCodes" style="padding: 60px 0;">
                <mat-spinner style="margin: 0 auto;"></mat-spinner>
            </div>
            <div *ngIf="loadedDiscountCodes" style="margin: 0 5%;">
                <div
                    *ngIf="!availableDiscountCodes.length"
                    style="margin-top: 2.25%; text-align: center;"
                >
                    <img
                        src="https://cdn.worldvectorlogo.com/logos/facebook-sad.svg"
                        height="130px"
                        width="130px"
                    />
                    <div style="padding: 2.25% 0;">
                        Looks like there are no available discount codes now,
                        check back again soon!
                    </div>
                </div>
                <mat-grid-list
                    rowHeight="450"
                    [cols]="isMobile ? 1 : isTablet ? 2 : isLaptop ? 3 : 4"
                    *ngIf="availableDiscountCodes.length"
                >
                    <mat-grid-tile
                        *ngFor="let discountCode of availableDiscountCodes"
                    >
                        <mat-card>
                            <mat-card-title style="margin-bottom: 30px;">
                                {{ discountCode.discountCode }}
                            </mat-card-title>
                            <mat-card-content>
                                <div
                                    style="
                                        font-size: x-large;
                                        position: absolute;
                                        top: 33%;
                                        left: 45%;
                                    "
                                >
                                    {{ discountCode.discountRate }}%
                                </div>
                                <mat-progress-spinner
                                    style="
                                        margin: 0 auto;
                                        padding-bottom: 17.5px;
                                    "
                                    mode="determinate"
                                    value="100"
                                >
                                </mat-progress-spinner>
                                <countdown
                                    units="Days | Hours | Minutes | Seconds"
                                    [end]="discountCode.expiryDate"
                                ></countdown>
                            </mat-card-content>
                            <mat-card-actions
                                style="float: right; padding: 0 35px;"
                            >
                                <button
                                    (click)="
                                        copyToClipboard(
                                            discountCode.discountCode
                                        )
                                    "
                                    matTooltip="Copy!"
                                    mat-icon-button
                                >
                                    <mat-icon>filter_none</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </section>
        <section>
            <div
                style="
                    position: absolute;
                    margin-left: 130px;
                    margin-top: 12%;
                    color: white;
                "
            >
                <div style="font-size: xx-large; font-weight: 500;">
                    iPhone SE
                </div>
                <div style="margin: 25px 0;">
                    Small, compact, yet powerful at the same time. Introducing
                    Apple's latest innovation.
                </div>
                <div>
                    <button
                        mat-raised-button
                        color="accent"
                        routerLink="/luxuryproducts"
                    >
                        Discover More
                    </button>
                </div>
            </div>
            <img
                style="display: block; width: 100%; height: auto;"
                src="../../../assets/homePage/banner1.png"
            />
        </section>
        <section>
            <div
                style="
                    position: absolute;
                    margin-left: 130px;
                    margin-top: 12%;
                    left: 50%;
                "
            >
                <div style="font-size: xx-large; font-weight: 500;">
                    Always Stay Connected
                </div>
                <div style="margin: 25px 0;">
                    With Tellybuddy plans, never be afraid of losing contact
                    with your loved ones.
                </div>
                <div>
                    <button
                        mat-raised-button
                        color="primary"
                        routerLink="/plans"
                    >
                        Start Your Journey
                    </button>
                </div>
            </div>
            <img
                style="display: block; width: 100%; height: auto;"
                src="../../../assets/homePage/banner2.jpg"
            />
        </section>
        <section>
            <div
                style="position: absolute; margin-left: 130px; margin-top: 12%;"
            >
                <div style="font-size: xx-large; font-weight: 500;">
                    Samsung Galaxy S20 Series
                </div>
                <div style="margin: 25px 0;">
                    Checkout Samsung's latest Galaxy Lineup, the S20 and S20+!
                </div>
                <div>
                    <button
                        mat-raised-button
                        color="accent"
                        routerLink="/luxuryproducts"
                    >
                        Take Me There
                    </button>
                </div>
            </div>
            <img
                style="display: block; width: 100%; height: auto;"
                src="../../../assets/homePage/banner3.jpg"
            />
        </section>
        <section style="background-color: #1f2f98; color: white;">
            <mat-grid-list
                rowHeight="300"
                [cols]="isMobile || isTablet ? 1 : 2"
            >
                <mat-grid-tile>
                    <div style="text-align: center;">
                        <div
                            style="
                                text-transform: uppercase;
                                font-weight: bold;
                                font-size: x-large;
                            "
                        >
                            Tan Wee Kek
                        </div>
                        <div style="margin: 15px 150px; font-style: italic;">
                            Switching to Tellybuddy was a phenomenal experience
                            and I have not regretted since. The ability to tweak
                            the plan units in accordance to my preferred usage
                            habits provides great flexibility that no other
                            current telco offers. Moreover, I can share any
                            excess units I might not have utilized with my
                            family members at no additional cost. I simply love
                            it! ❤️
                        </div>
                        <div style="color: #ffd700;">
                            ★★★★★
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="position: absolute; left: 80px; top: 55px;">
                        <div style="font-size: larger; margin-left: 10px;">
                            Check out what our customers have to say about us!
                        </div>
                        <div style="margin: 40px 0 40px 10px;">
                            This is an
                            <span style="color: #ffd700;">
                                honest review
                            </span>
                            from our beloved customer!
                        </div>
                        <div>
                            <img
                                width="206px"
                                height="auto"
                                src="../../../assets/homePage/seedly-review.webp"
                                style="float: left;"
                            />
                        </div>
                        <div style="margin-top: 72px;">
                            <button
                                mat-raised-button
                                color="accent"
                                routerLink="/plans"
                            >
                                Join Us Today
                            </button>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </section>
        <section style="background-color: #f6f6f6;">
            <mat-grid-list
                rowHeight="300"
                [cols]="isMobile ? 1 : isTablet ? 2 : 4"
            >
                <mat-grid-tile>
                    <div style="position: absolute; left: 80px; top: 50px;">
                        <div style="font-size: 24px; margin-bottom: 10px;">
                            Tellybuddy
                        </div>
                        <a
                            href="http://localhost:8080/tellybuddy-war"
                            target="_blank"
                            class="links"
                            >Corporate Login</a
                        >
                        <br />
                        <a class="links">About</a>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div
                        style="
                            position: absolute;
                            left: 0;
                            top: 50px;
                            width: 100%;
                        "
                    >
                        <div style="font-size: 24px;">
                            Payment Methods
                        </div>
                        <div>
                            <img
                                height="60px"
                                width="60px"
                                src="../../../assets/homePage/visa.png"
                                style="margin-right: 25px;"
                            />
                            <img
                                height="60px"
                                width="60px"
                                src="../../../assets/homePage/mastercard.png"
                                style="margin-right: 25px;"
                            />
                            <img
                                height="60px"
                                width="60px"
                                src="../../../assets/homePage/amex.png"
                            />
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div
                        style="
                            position: absolute;
                            left: 0;
                            top: 50px;
                            width: 100%;
                        "
                    >
                        <div style="font-size: 24px; margin-bottom: 10px;">
                            Delivery Partners
                        </div>
                        <div>
                            <img
                                src="../../../assets/homePage/ninjavan.svg"
                                style="
                                    margin-right: 25px;
                                    width: 120px;
                                    height: auto;
                                "
                            />
                            <img
                                src="../../../assets/homePage/singpost.png"
                                style="
                                    margin-right: 25px;
                                    width: 120px;
                                    height: auto;
                                "
                            />
                            <img
                                src="../../../assets/homePage/cj-logistics.png"
                                style="width: 120px; height: auto;"
                            />
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="position: absolute; left: 0; top: 50px;">
                        <div style="font-size: 24px; margin-bottom: 10px;">
                            Download the App
                        </div>
                        <div>
                            <img
                                src="../../../assets/homePage/google-play.png"
                                style="
                                    margin-right: 25px;
                                    width: 120px;
                                    height: auto;
                                "
                            />
                            <img
                                src="../../../assets/homePage/app-store.png"
                                style="
                                    margin-right: 25px;
                                    width: 120px;
                                    height: auto;
                                "
                            />
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            <div style="padding: 25px 50px;">
                © Tellybuddy 2020. All rights reserved.
            </div>
        </section>
    </div>
</div>
