::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: black;
    border-width: 1px;
    background-color: #ffffff
}
::ng-deep button.mat-button .mat-button-base {
    padding: 0;
}

::ng-deep .mat-card:hover .overlay{
    /* -color: rgba(0,0,0,0.02);
    opacity: 0.5; */
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: #ffffff;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    display: flex;
    vertical-align: middle;
    line-height: 90px;
    object-fit: cover;
    background-image: url("../../../assets/buyItToday.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
  }
  /* .text {
    color: white;
    font-size:  2em;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding: 25% 25%;
    position: relative;
    width: 100%;
    margin: auto;
    white-space: nowrap; 
  } */