<div *ngIf="!loaded" style="margin-top: 3%;">
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
</div>
<div *ngIf="loaded" style="text-align: center;">
    <h1>Tellybuddy FamilyGroup</h1>
    <div>
        <mat-sidenav-container fullscreen>
            <mat-sidenav mode="side" opened style="width: 25%; padding: 3% 2%;">
                <div
                    style="
                        font-size: x-large;
                        margin-bottom: 35px;
                        font-weight: 600;
                        width: 100%;
                        text-align: center;
                    "
                >
                    My Family Group
                    <mat-divider style="margin-top: 10px;"></mat-divider>
                    <button
                        mat-button
                        style="width: 100%;"
                        routerLink="/familyGroup/viewFamilyGroupDetails"
                    >
                        Home
                    </button>
                    <br />
                    <button
                        mat-button
                        style="width: 100%;"
                        routerLink="/familyGroup/viewMembers"
                    >
                        Members
                    </button>
                    <br />
                    <button
                        *ngIf="
                            sessionService.getCurrentCustomer()
                                .ownerOfFamilyGroup
                        "
                        mat-button
                        style="width: 100%;"
                        routerLink="/familyGroup/viewSettings"
                    >
                        Settings
                    </button>
                </div>
            </mat-sidenav>
            <mat-sidenav-content style="padding: 3% 7.5%;">
                <mat-card>
                    <div style="text-align: center;">
                        <form style="width: 80%;">
                            <mat-form-field style="width: 80%;">
                                <mat-label
                                    >Update Family Group Description</mat-label
                                >
                                <textarea
                                    matInput
                                    [(ngModel)]="
                                        familyGroupToPerformAction.description
                                    "
                                    value="{{
                                        familyGroupToPerformAction.description
                                    }}"
                                    [ngModelOptions]="{ standalone: true }"
                                    required
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="5"
                                    cdkAutosizeMaxRows="10"
                                ></textarea>
                            </mat-form-field>
                            <div>
                                <button
                                    mat-button
                                    (click)="updateFamilyGroup()"
                                >
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-card>
                <section>
                    <div>Delete the family group</div>

                    <!-- <button mat-raised-button (click)="openDialog()">Delete</button> -->
                    <button mat-button (click)="deleteFamilyGroup()">
                        Delete
                    </button>
                </section>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
