.familyGroupNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}
.mat-card {
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 0;
    text-align: center;
    border-top: 5px solid #f04393;
    cursor: pointer;
    max-width: 200px;
    /* margin-bottom: 50px; */
    margin-left: 200px;
    margin: 200px;
    float: left;
    margin-top: 30px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mat-card:hover {
    opacity: 0.5;
}

.mat-card-title {
    margin: 0;
    text-align: center;
}

mat-progress-bar.bottomBar.mat-progress-bar {
    z-index: 1;
}
/* mat-progress-bar.topBar.mat-progress-bar {
    z-index: 2;
} */
