<div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;"></div>
<div *ngIf="!loaded">
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
</div>
<div *ngIf="loaded">
    <div style="text-align: center;">
        <h1>Tellybuddy FamilyGroup</h1>
        <div *ngIf="retrieveFamilyGroupError">
            <app-create-new-family-group></app-create-new-family-group>
        </div>
        <div *ngIf="!retrieveFamilyGroupError">
            <mat-sidenav-container fullscreen>
                <mat-sidenav mode="side" opened>
                    <ul class="familyGroupMenu">
                        <mat-nav-list>
                            <a mat-list-item routerLink="/familyGroup/viewFamilyGroupDetails">
                                Home</a>
                            <a mat-list-item routerLink="/familyGroup/viewMembers">
                                Members</a>
                            <div *ngIf="ownerOfFamilyGroup">
                                <a mat-list-item routerLink="/familyGroup/viewSettings">
                                    Setting</a>
                            </div>
                        </mat-nav-list>
                    </ul>
                </mat-sidenav>
                <mat-sidenav-content>
                    <div *ngIf="!retrieveFamilyGroupError">
                        <h1>Tellybuddy FamilyGroup</h1>
                        <h2> Welcome to the {{ familyGroup.description }}!</h2>
                        <mat-divider></mat-divider>

                        <h1> Current units = {{ familyGroup.donatedUnits }}</h1>
                        <div style="position: relative;">
                            <mat-progress-bar class="bottomBar"
                                style="position: absolute; top: 0; left: 200; height:20px;" mode="buffer">
                            </mat-progress-bar>
                            <mat-progress-bar class="topBar" style="position: absolute; top: 0; left: 200; height:20px;"
                                mode="determinate" value="{{ 100/1000 * familyGroup.donatedUnits }}">
                            </mat-progress-bar>
                        </div>
                        <br/>
                        <br>
                        Maximum units in the pool: 1000
                        <div class="cards">

                            <mat-card mat-ripple class="mat-elevation-z8" (click)="openDonateDialog()">
                                <mat-card-title>
                                    Donate units
                                </mat-card-title>
                                <img class="image" mat-card-image src="assets/familyGroupIcon/receive-hand-svgrepo-com.jpg">
                                <mat-card-content>

                                    <div style="padding-bottom: 10px;">
                                        Donate to the family pool
                                    </div>

                                </mat-card-content>
                            </mat-card>

                            <mat-card mat-ripple class="mat-elevation-z8" (click)="openReceiveDialog()">
                                <mat-card-title>
                                    Receive units
                                </mat-card-title>
                                <img class="image" mat-card-image src="assets/familyGroupIcon/receive-svgrepo-com.jpg">
                                <mat-card-content>

                                    <div style="padding-bottom: 10px;">
                                        Donate to the family pool
                                    </div>

                                </mat-card-content>
                            </mat-card>
                        </div>
                        <!-- <div *ngIf="!retrieveFamilyGroupError">
                        <p style="margin-bottom: 30px;">
                            Hello {{ customer.firstName }}!
                        </p>
                        <img style="width: 10%;"
                            src="https://pickaface.net/gallery/avatar/unr_daddy_170307_0223_3hvoe.png" />

                        <p style="margin-bottom: 30px;">
                            Current units = {{ familyGroup.donatedUnits }}
                            Description = {{familyGroup.description}}
                        </p> -->

                        <!-- <mat-accordion>
                            <div>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Donate to the poll
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Select the units from component
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <mat-form-field>
                                        <mat-label>Select an option</mat-label>
                                        <mat-select>
                                            <mat-option (onSelectionChange)="selectSubscription($event)" *ngFor="
                                              let subscription of subscriptions" [value]="subscription">{{subscription.phoneNumber
                                                  .phoneNumber}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <br />
                                    <div>
                                        <label class="example-margin">Donate SMS:</label>
                                        <mat-slider min="1" #dataSlider [max]="getRemainingDataUnits()" thumbLabel
                                            (change)="handleDataSliderChange($event.value)" (input)="
                            $event.value - donateDataValue <= getRemainingDataUnits()
                                ? (donateDataValue = $event.value)
                                : $event.value <= donateDataValue
                                ? (donateDataValue = $event.value)
                                : (donateDataValue = donateDataValue)
                        "></mat-slider>
                                        <!-- <mat-slider class="example-margin" [(ngModel)]="donateSMSValue">
                                        </mat-slider>
                                        <br />
                                        <label class="example-margin">Donate Data:</label>
                                        <mat-slider class="example-margin" [(ngModel)]="donateDataValue">
                                        </mat-slider>
                                        <br />
                                        <label class="example-margin">Donate TalkTime:
                                        </label>
                                        <mat-slider class="example-margin" [(ngModel)]="donateTalkTimeValue">
                                        </mat-slider> -->
                        <!-- <br />

                                    </div>
                                </mat-expansion-panel>
                            </div>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Receive from the poll
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Select component to receive units
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>I'm visible because I am open</p>
                            </mat-expansion-panel>
                        </mat-accordion>  -->

                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>