.mat-card {
    border-radius: 0;
    text-align: center;
    border-top: 5px solid #3f51b5;
    cursor: pointer;
    width: 175px;
    display: inline-block;
}

.mat-card:hover {
    opacity: 0.5;
}

.mat-card-title {
    margin: 0;
    text-align: center;
}

mat-progress-bar.bottomBar.mat-progress-bar {
    z-index: 1;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/* mat-progress-bar.topBar.mat-progress-bar {
    z-index: 2;
} */
