<div *ngIf="!loaded" style="margin-top: 3%;">
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
</div>
<div *ngIf="loaded">
    <div style="text-align: center;">
        <div *ngIf="retrieveFamilyGroupError">
            <app-create-new-family-group></app-create-new-family-group>
        </div>
        <div *ngIf="!retrieveFamilyGroupError">
            <mat-sidenav-container>
                <mat-sidenav
                    mode="side"
                    opened
                    style="width: 20%; padding: 3% 2%;"
                >
                    <div
                        style="
                            font-size: x-large;
                            margin-bottom: 35px;
                            font-weight: 600;
                            width: 100%;
                            text-align: center;
                        "
                    >
                        My Family Group
                        <mat-divider style="margin-top: 10px;"></mat-divider>
                        <button
                            mat-button
                            style="width: 100%;"
                            routerLink="/familyGroup/viewFamilyGroupDetails"
                        >
                            Home
                        </button>
                        <br />
                        <button
                            mat-button
                            style="width: 100%;"
                            routerLink="/familyGroup/viewMembers"
                        >
                            Members
                        </button>
                        <br />
                        <button
                            *ngIf="customer.ownerOfFamilyGroup"
                            mat-button
                            style="width: 100%;"
                            routerLink="/familyGroup/viewSettings"
                        >
                            Settings
                        </button>
                    </div>
                </mat-sidenav>
                <mat-sidenav-content style="padding: 2% 7.5%;">
                    <div *ngIf="!retrieveFamilyGroupError">
                        <h1>Tellybuddy FamilyGroup</h1>
                        <div style="font-size: larger; margin: 20px 0;">
                            Home to the
                            {{ familyGroup.description }}, where everyone's
                            mobile subscriptions are entitled to
                            <span
                                style="
                                    font-size: x-large;
                                    text-decoration: underline;
                                    font-weight: 500;
                                "
                            >
                                {{ familyGroup.discountRate }}% discount!
                            </span>
                        </div>
                        <div>
                            <mat-divider></mat-divider>
                        </div>

                        <h1>
                            Current data units =
                            {{ familyGroup.donatedDataUnits }}
                        </h1>
                        <div style="position: relative;">
                            <mat-progress-bar
                                class="bottomBar"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 200;
                                    height: 20px;
                                "
                                mode="buffer"
                            >
                            </mat-progress-bar>
                            <mat-progress-bar
                                class="topBar"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 200;
                                    height: 20px;
                                "
                                mode="determinate"
                                value="{{
                                    (100 / 50) * familyGroup.donatedDataUnits
                                }}"
                            >
                            </mat-progress-bar>
                        </div>
                        <br />
                        <br />
                        <h1>
                            Current SMS units =
                            {{ familyGroup.donatedSMSUnits }}
                        </h1>
                        <div style="position: relative;">
                            <mat-progress-bar
                                class="bottomBar"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 200;
                                    height: 20px;
                                "
                                mode="buffer"
                            >
                            </mat-progress-bar>
                            <mat-progress-bar
                                class="topBar"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 200;
                                    height: 20px;
                                "
                                mode="determinate"
                                value="{{
                                    (100 / 50) * familyGroup.donatedSMSUnits
                                }}"
                            >
                            </mat-progress-bar>
                        </div>
                        <br />
                        <br />
                        <h1>
                            Current Talk Time units =
                            {{ familyGroup.donatedTalkTimeUnits }}
                        </h1>
                        <div style="position: relative;">
                            <mat-progress-bar
                                class="bottomBar"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 200;
                                    height: 20px;
                                "
                                mode="buffer"
                            >
                            </mat-progress-bar>
                            <mat-progress-bar
                                class="topBar"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 200;
                                    height: 20px;
                                "
                                mode="determinate"
                                value="{{
                                    (100 / 50) *
                                        familyGroup.donatedTalkTimeUnits
                                }}"
                            >
                            </mat-progress-bar>
                        </div>
                        <br />
                        <div style="margin: 30px 0;">
                            Maximum units in each pool: 50
                        </div>
                        <div class="row">
                            <div class="column">
                                <mat-card
                                    mat-ripple
                                    class="mat-elevation-z4"
                                    (click)="openDonateDialog()"
                                >
                                    <mat-card-title>
                                        Donate units
                                    </mat-card-title>
                                    <img
                                        mat-card-image
                                        src="assets/familyGroupIcon/receive-hand-svgrepo-com.jpg"
                                    />
                                    <mat-card-content>
                                        <div style="padding-bottom: 10px;">
                                            Donate to the family pool
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="column">
                                <mat-card
                                    mat-ripple
                                    class="mat-elevation-z8"
                                    (click)="openReceiveDialog()"
                                >
                                    <mat-card-title>
                                        Receive units
                                    </mat-card-title>
                                    <img
                                        mat-card-image
                                        src="assets/familyGroupIcon/receive-svgrepo-com.jpg"
                                    />
                                    <mat-card-content>
                                        <div style="padding-bottom: 10px;">
                                            Donate to the family pool
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>
