<div>
    <div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;" *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <mat-drawer-container>
            <mat-drawer
                style="width: 25%; padding: 3% 2% 0 5%;"
                mode="side"
                opened
            >
                <div
                    style="
                        font-size: x-large;
                        margin-bottom: 35px;
                        font-weight: 600;
                        width: 100%;
                        text-align: center;
                    "
                >
                    My Account
                    <mat-divider></mat-divider>

                    <button mat-button routerLink="/subscriptions">
                        My Subscriptions
                    </button>
                    <br />
                    <button mat-button routerLink="/bills">My Bills</button>
                </div>
            </mat-drawer>
            <mat-drawer-content style="height: 100vh; padding: 3% 17.5% 0 2%;">
                <mat-card
                    style="
                        width: 100%;
                        height: fit-content;
                        box-sizing: border-box;
                    "
                >
                    <mat-card-title>Order Details</mat-card-title>
                    <mat-card-subtitle
                        >Placed on
                        {{ transaction.transactionDateTime | date }}
                        <div
                            style="
                                float: right;
                                font-size: large;
                                color: black;
                            "
                        >
                            Total: {{ transaction.totalPrice | currency }}
                        </div>
                    </mat-card-subtitle>

                    <mat-horizontal-stepper
                        style="
                            width: 100%;
                            padding-bottom: 0px;
                            margin-bottom: 0px;
                            background-color: rgba(0, 0, 0, 0);
                        "
                        selectedIndex="transactionStatus"
                    >
                        <mat-step completed="false">
                            <ng-template matStepLabel>Processing</ng-template>
                        </mat-step>
                        <mat-step completed="false">
                            <ng-template matStepLabel>Shipping</ng-template>
                        </mat-step>
                        <mat-step completed="false">
                            <ng-template matStepLabel>Delivered</ng-template>
                        </mat-step>
                    </mat-horizontal-stepper>
                </mat-card>

                <mat-card style="margin-top: 10px;">
                    <table
                        mat-table
                        [dataSource]="lineItems"
                        style="width: 100%;"
                    >
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef>
                                Item
                            </th>
                            <td mat-cell *matCellDef="let transactionLineItem">
                                <span *ngIf="transactionLineItem.subscription">
                                    {{
                                        transactionLineItem.subscription.plan
                                            .name
                                    }}
                                </span>
                                <span *ngIf="transactionLineItem.product">
                                    {{ transactionLineItem.product.name }}
                                </span>
                                <span *ngIf="transactionLineItem.productItem">
                                    {{
                                        transactionLineItem.productItem
                                            .luxuryProduct.name
                                    }}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th
                                style="text-align: center;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Price
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="let transactionLineItem"
                            >
                                {{ transactionLineItem.price | currency }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th
                                style="text-align: center;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Quantity
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="
                                    let transactionLineItem;
                                    let i = index
                                "
                            >
                                {{ transactionLineItem.quantity }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="subtotal">
                            <th
                                style="text-align: center;"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Sub Total
                            </th>
                            <td
                                style="text-align: center;"
                                mat-cell
                                *matCellDef="let transactionLineItem"
                            >
                                <div *ngIf="transactionLineItem.subscription">
                                    {{ transactionLineItem.price | currency }}
                                </div>

                                <div *ngIf="!transactionLineItem.subscription">
                                    {{
                                        transactionLineItem.subtotal | currency
                                    }}
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                    ></mat-paginator>
                </mat-card>

                <div style="text-align: center; padding: 10px 10px;">
                    <button
                        mat-button
                        mat-raised-button
                        color="primary"
                        (click)="refundTransaction()"
                    >
                        Request Refund
                    </button>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
