<div
    style="text-align: center; padding: 0 17.5% 0 17.5%; margin-top: 3%;"
    *ngIf="subscriptions.length"
>
    <h1>My Subscriptions</h1>
    <p style="margin-bottom: 30px;">
        Manage your subscriptions here!
    </p>
</div>

<div style="padding: 0 17.5% 2% 17.5%; margin-top: 3%;">
    <div *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <mat-accordion class="align-headers">
            <mat-expansion-panel
                *ngFor="let subscription of subscriptions; let i = index"
                (opened)="openGroup(i)"
                (closed)="resetState()"
                style="border-left: 5px solid #7274d6;"
            >
                <mat-expansion-panel-header style="vertical-align: baseline;">
                    <mat-panel-title>
                        <mat-icon>signal_cellular_alt</mat-icon>
                        &nbsp;
                        {{ i + 1 }}: &nbsp;{{ subscription.plan.name }} ({{
                            subscription.phoneNumber.phoneNumber.substring(0, 4)
                        }}
                        {{ subscription.phoneNumber.phoneNumber.substring(4) }})
                    </mat-panel-title>

                    <mat-panel-description>
                        Status: {{ subscription.subscriptionStatusEnum }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <strong> Phone Number: </strong
                >{{ subscription.phoneNumber.phoneNumber }}
                <div
                    style="float: right; padding-right: 5px;"
                    *ngIf="subscription.subscriptionStartDate != null"
                >
                    <strong>Usage Period:</strong>
                    {{ subscription.subscriptionStartDate | date: 'd' }}
                    {{ monthAgo | date: 'MMM' }} -
                    {{ currentDate | date: 'd MMM' }}
                </div>
                <br />
                <strong>Contract Start Date:</strong>
                {{ subscription.subscriptionStartDate | date }}

                <mat-grid-list cols="5" rowHeight="40vh">
                    <mat-grid-tile colspan="2">
                        <canvas
                            id="myChart{{ i }}"
                            width="700"
                            height="400"
                        ></canvas>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="3">
                        <div
                            class="css-grid"
                            style="
                                border-left: 3px solid #fafafa;
                                margin-left: 25px;
                            "
                        >
                            <div class="css-grid-tile">
                                <div class="icons">
                                    <mat-icon color="primary"
                                        >language</mat-icon
                                    >
                                    Local Data
                                </div>
                                <div class="usageDetails" *ngIf="isOpened">
                                    <div class="actualDetail">
                                        {{ (dataUsage * 1).toFixed(2) }}
                                    </div>
                                    <br />
                                    out of
                                    {{
                                        (
                                            (selectedSubscriptionPlan.dataConversionRate *
                                                dataUnits) /
                                            1000
                                        ).toFixed(2)
                                    }}&nbsp;GB
                                </div>
                                <div
                                    style="
                                        position: absolute;
                                        right: 1em;
                                        top: 0em;
                                        height: 30%;
                                        width: 30%;
                                    "
                                >
                                    <div id="percentages" *ngIf="isOpened">
                                        {{
                                            (
                                                (dataUsage /
                                                    ((selectedSubscriptionPlan.dataConversionRate *
                                                        dataUnits) /
                                                        1000)) *
                                                100
                                            ).toFixed(0)
                                        }}%<Br />
                                        Used
                                    </div>
                                    <canvas id="dataChart{{ i }}"></canvas>
                                </div>
                            </div>

                            <div class="css-grid-tile">
                                <div class="icons">
                                    <mat-icon color="primary">textsms</mat-icon>
                                    SMS
                                </div>
                                <div class="usageDetails" *ngIf="isOpened">
                                    <div class="actualDetail">
                                        {{ smsUsage }}
                                    </div>
                                    <br />
                                    out of
                                    {{
                                        selectedSubscriptionPlan.smsConversionRate *
                                            smsUnits
                                    }}&nbsp;SMS
                                </div>
                                <div
                                    style="
                                        position: absolute;
                                        right: 1em;
                                        top: 7em;
                                        height: 30%;
                                        width: 30%;
                                    "
                                >
                                    <div id="percentages" *ngIf="isOpened">
                                        {{
                                            (
                                                (smsUsage /
                                                    selectedSubscriptionPlan.smsConversionRate /
                                                    smsUnits) *
                                                100
                                            ).toFixed(0)
                                        }}%<Br />
                                        Used
                                    </div>
                                    <canvas id="smsChart{{ i }}"></canvas>
                                </div>
                            </div>

                            <div class="css-grid-tile">
                                <div class="icons">
                                    <mat-icon color="primary">phone</mat-icon>
                                    Talk Time
                                </div>
                                <div class="usageDetails" *ngIf="isOpened">
                                    <div class="actualDetail">
                                        {{ (talktimeUsage * 1).toFixed(1) }}
                                    </div>
                                    <br />
                                    out of
                                    {{
                                        selectedSubscriptionPlan.talktimeConversionRate *
                                            talktimeUnits
                                    }}&nbsp;mins
                                </div>
                                <div
                                    style="
                                        position: absolute;
                                        right: 1em;
                                        top: 14em;
                                        height: 30%;
                                        width: 30%;
                                    "
                                >
                                    <div id="percentages" *ngIf="isOpened">
                                        {{
                                            (
                                                (talktimeUsage /
                                                    selectedSubscriptionPlan.talktimeConversionRate /
                                                    talktimeUnits) *
                                                100
                                            ).toFixed(0)
                                        }}%<Br />
                                        Used
                                    </div>
                                    <canvas id="talkTimeChart{{ i }}"></canvas>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>

                    <div style="position: absolute; bottom: 0; left: 0;">
                        <mat-slide-toggle
                            labelPosition="before"
                            (change)="toggleEdit(i)"
                            [checked]="editMode"
                            >Edit
                        </mat-slide-toggle>
                    </div>
                    <div style="position: absolute; bottom: 0; left: 10%;">
                        <mat-slide-toggle
                            labelPosition="before"
                            (change)="subscribeAddon(i)"
                            [checked]="addon"
                            >Top-up</mat-slide-toggle
                        >
                    </div>
                </mat-grid-list>

                <div style="text-align: center;">
                    <button
                        (click)="requestToTerminateSubscription(i)"
                        mat-raised-button
                        color="primary"
                    >
                        Terminate Subscription
                    </button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div
        style="text-align: center;"
        *ngIf="subscriptions == undefined || subscriptions.length === 0"
    >
        <h1>
            No subscriptions found!
        </h1>
        <img
            height="350px"
            width="350px"
            src="https://image.freepik.com/free-vector/sad-emoji_53876-25516.jpg"
        />
        <p>
            You are unable to earn any additional units, subscribe to our plans
            today!
        </p>
        <a mat-raised-button color="accent" routerLink="/plans">
            Check out our Plans!
        </a>
    </div>
</div>
