<div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;">
    <div *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded && !subscriptions.length" style="text-align: center;">
        <h1>
            No bills found!
        </h1>
        <img
            style="margin-top: 85px; margin-bottom: 85px;"
            height="170px"
            width="170px"
            src="https://image.flaticon.com/icons/svg/743/743233.svg"
        />
        <div>
            You do not have any bill payments due nor any past bills for
            viewing!
        </div>
        <div style="margin-top: 5px;">
            Wait for us to notify you of your first bill via email before
            checking back here!
        </div>
    </div>
    <div *ngIf="loaded && subscriptions.length">
        <div style="text-align: center;">
            <h1>My Bills</h1>
            <p>View and manage your bills here!</p>
        </div>
        <h1 style="margin-left: 15px;">Outstanding</h1>
        <div style="text-align: center;" *ngIf="!outstandingBills.length">
            <img
                height="100px"
                width="100px"
                src="https://image.flaticon.com/icons/svg/1533/1533913.svg"
            />
            <div style="margin-top: 15px;">
                All bills paid!
            </div>
        </div>
        <div *ngIf="outstandingBills.length">
            <mat-grid-list
                [cols]="isMobile ? 1 : isTablet ? 2 : isLaptop ? 3 : 4"
                rowHeight="532.5px"
            >
                <mat-grid-tile
                    *ngFor="let bill of outstandingBills; let i = index"
                >
                    <mat-card
                        mat-ripple
                        class="mat-elevation-z8"
                        matTooltip="Pay Now"
                        (click)="openDialog(i)"
                    >
                        <mat-card-title>
                            {{
                                bill.usageDetail.subscription.phoneNumber.phoneNumber.substring(
                                    0,
                                    4
                                )
                            }}
                            {{
                                bill.usageDetail.subscription.phoneNumber.phoneNumber.substring(
                                    4
                                )
                            }}
                        </mat-card-title>
                        <mat-card-content>
                            <div style="margin: 10px 0 5px 0;">
                                {{
                                    bill.usageDetail.startDate | date: 'dd MMM'
                                }}
                                –
                                {{ bill.usageDetail.endDate | date: 'dd MMM' }}
                            </div>
                            <div style="height: 129px;">
                                <canvas id="usageChart{{ i }}"></canvas>
                            </div>
                            <div>
                                <mat-grid-list rowHeight="50" cols="3">
                                    <mat-grid-tile>
                                        Data&nbsp;&nbsp;
                                        <div
                                            [style.backgroundColor]="
                                                bill.usageDetail
                                                    .allowedDataUsage /
                                                    bill.usageDetail.dataUsage >
                                                1
                                                    ? '#3C4CAD'
                                                    : '#D50000'
                                            "
                                            style="padding: 5px 10px;"
                                        ></div>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        SMS&nbsp;&nbsp;
                                        <div
                                            [style.backgroundColor]="
                                                bill.usageDetail
                                                    .allowedSmsUsage /
                                                    bill.usageDetail.smsUsage >
                                                1
                                                    ? '#F9C449'
                                                    : '#D50000'
                                            "
                                            style="padding: 5px 10px;"
                                        ></div>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        Talktime&nbsp;&nbsp;
                                        <div
                                            [style.backgroundColor]="
                                                bill.usageDetail
                                                    .allowedTalktimeUsage /
                                                    bill.usageDetail
                                                        .talktimeUsage >
                                                1
                                                    ? '#F04393'
                                                    : '#D50000'
                                            "
                                            style="padding: 5px 10px;"
                                        ></div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list rowHeight="30" cols="3">
                                    <mat-grid-tile>
                                        {{
                                            bill.usageDetail.dataUsage.toFixed(
                                                2
                                            )
                                        }}
                                        /
                                        {{ bill.usageDetail.allowedDataUsage }}
                                        GBs
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        {{ bill.usageDetail.smsUsage }} /
                                        {{ bill.usageDetail.allowedSmsUsage }}
                                        SMS
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        {{
                                            bill.usageDetail.talktimeUsage.toFixed(
                                                1
                                            )
                                        }}
                                        /
                                        {{
                                            bill.usageDetail
                                                .allowedTalktimeUsage
                                        }}
                                        mins
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div style="margin: 20px 0 0 0;">
                                <mat-grid-list rowHeight="30" cols="2">
                                    <mat-grid-tile
                                        style="font-size: large;"
                                        rowspan="4"
                                    >
                                        <span style="font-weight: bold;">
                                            Plan:&nbsp;
                                        </span>
                                        {{ bill.price | currency }}
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <span style="font-weight: bold;">
                                            Add-ons:&nbsp;
                                        </span>
                                        {{ bill.addOnPrice | currency }}
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <span style="font-weight: bold;">
                                            Exceeded:&nbsp;
                                        </span>
                                        {{ bill.exceedPenaltyPrice | currency }}
                                    </mat-grid-tile>
                                    <mat-grid-tile
                                        *ngIf="bill.earlyTerminationFee"
                                    >
                                        <span style="font-weight: bold;">
                                            Penalty:&nbsp;
                                        </span>
                                        {{
                                            bill.earlyTerminationFee | currency
                                        }}
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <span style="font-weight: bold;">
                                            Discount:&nbsp;
                                        </span>
                                        <span *ngIf="bill.familyDiscountRate">
                                            -{{
                                                bill.price *
                                                    (bill.familyDiscountRate /
                                                        100) | currency
                                            }}
                                        </span>
                                        <span *ngIf="!bill.familyDiscountRate">
                                            N.A.
                                        </span>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div
                                *ngIf="!bill.earlyTerminationFee"
                                style="
                                    font-size: x-large;
                                    font-weight: 500;
                                    border-top: 2.5px solid #3c4cad;
                                    border-bottom: 2.5px solid #3c4cad;
                                    padding: 10px 0;
                                "
                            >
                                {{
                                    bill.price *
                                        ((100 - bill.familyDiscountRate) /
                                            100) +
                                        bill.addOnPrice +
                                        bill.exceedPenaltyPrice | currency
                                }}
                            </div>
                            <div
                                *ngIf="bill.earlyTerminationFee"
                                style="
                                    font-size: x-large;
                                    font-weight: 500;
                                    border-top: 2.5px solid #3c4cad;
                                    border-bottom: 2.5px solid #3c4cad;
                                    padding: 10px 0;
                                "
                            >
                                {{
                                    (bill.price +
                                        bill.addOnPrice +
                                        bill.exceedPenaltyPrice) *
                                        ((100 - bill.familyDiscountRate) /
                                            100) +
                                        bill.earlyTerminationFee | currency
                                }}
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div>
            <h1>Bills by Subscriptions</h1>
            <mat-accordion style="margin: 100px;" class="align-headers">
                <mat-expansion-panel
                    *ngFor="let subscription of subscriptions; let i = index"
                    style="border-left: 5px solid #7274d6;"
                    (opened)="handleOpen(i)"
                >
                    <mat-expansion-panel-header
                        style="vertical-align: baseline;"
                    >
                        <mat-panel-title>
                            <mat-icon>signal_cellular_alt</mat-icon>
                            &nbsp;
                            {{ i + 1 }}: &nbsp;{{ subscription.plan.name }} ({{
                                subscription.phoneNumber.phoneNumber.substring(
                                    0,
                                    4
                                )
                            }}
                            {{
                                subscription.phoneNumber.phoneNumber.substring(
                                    4
                                )
                            }})
                        </mat-panel-title>
                        <mat-panel-description>
                            <span
                                style="
                                    color: #66bb6a;
                                    text-transform: uppercase;
                                "
                                *ngIf="!subscription.outstandingBills.length"
                                >Clear</span
                            >
                            <span
                                style="
                                    color: #ff1744;
                                    text-transform: uppercase;
                                "
                                *ngIf="subscription.outstandingBills.length"
                                >Outstanding</span
                            >
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngIf="!loadedBills">
                        <mat-spinner
                            diameter="50"
                            style="margin: 0 auto;"
                        ></mat-spinner>
                    </div>
                    <div [hidden]="!loadedBills">
                        <mat-table [dataSource]="subscriptionBills">
                            <ng-container matColumnDef="number">
                                <mat-header-cell *matHeaderCellDef>
                                    Ref.
                                </mat-header-cell>
                                <mat-cell *matCellDef="let bill">
                                    {{ bill.billId }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cycle">
                                <mat-header-cell *matHeaderCellDef>
                                    Billing Cycle
                                </mat-header-cell>
                                <mat-cell *matCellDef="let bill">
                                    {{
                                        bill.usageDetail.startDate
                                            | date: 'dd MMM'
                                    }}
                                    –
                                    {{
                                        bill.usageDetail.endDate
                                            | date: 'dd MMM'
                                    }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="paymentDate">
                                <mat-header-cell *matHeaderCellDef>
                                    Date Paid
                                </mat-header-cell>
                                <mat-cell *matCellDef="let bill">
                                    <span *ngIf="!bill.payment">
                                        N.A.
                                    </span>
                                    <span *ngIf="bill.payment">
                                        {{
                                            bill.payment.datePaid
                                                | date: 'dd MMM, h:mm a'
                                        }}
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef>
                                    Amount
                                </mat-header-cell>
                                <mat-cell *matCellDef="let bill">
                                    <span *ngIf="!bill.payment">
                                        {{
                                            bill.price *
                                                ((100 -
                                                    bill.familyDiscountRate) /
                                                    100) +
                                                bill.addOnPrice +
                                                bill.exceedPenaltyPrice
                                                | currency
                                        }}
                                    </span>
                                    <span *ngIf="bill.payment">{{
                                        +bill.payment.amount | currency
                                    }}</span>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></mat-header-row>
                            <mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></mat-row>
                        </mat-table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                        ></mat-paginator>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
