.mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border-radius: 0;
    text-align: center;
    border-top: 5px solid #3c4cad;
    cursor: pointer;
}

.mat-card:hover {
    background: rgba(0, 0, 0, 0.04);
}

.mat-card-title {
    margin: 0;
    text-align: center;
}

.align-headers .mat-expansion-panel-header-description {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}
