.dialog-class {
    border-radius: 10px;
    border: 2px solid grey;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

.button-class {
    background-color: lightblue;
    width: 100%;
}

.shake {
    animation-name: shake-animation;
    animation-duration: 0.3s;
}

@keyframes shake-animation {
    10%,
    90% {
        transform: translate3d(-0.5px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(3px, 0, 0);
    }
}
