<div [ngClass]="{ shake: shakeIt, 'dialog-class': true }">
    <div mat-dialog-title>
        <div>
            Add New Member To
            <strong>{{ data.selectedFamilyGroup.description }}</strong>
            <button style="float: right;" mat-icon-button (click)="onExitClick()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <p>
            <mat-form-field>
                <input class="input" id="email" matInput name="email" #email_="ngModel" type="text"
                    placeholder="Ex. pat@example.com" [(ngModel)]="email" required="true"
                    pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" />
                <mat-error *ngIf="email_.invalid && (email_.dirty || email_.touched)" class="errorText">
                    <div *ngIf="email_.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="email_.errors.pattern">
                        Please enter a valid email address.
                    </div>
                </mat-error>
            </mat-form-field>
        </p>
        <button mat-raised-button [disabled]="!(email_.valid
        )
    " color="primary" (click)="retrieveCustomerByEmail()">
            Invite
        </button>
    </div>
</div>