<div>
    <div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;" *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <mat-drawer-container>
            <mat-drawer
                style="width: 20%; padding: 3% 2%; text-align: center;"
                mode="side"
                opened
            >
                <img
                    style="width: 200px; height: 200px; border-radius: 50%;"
                    *ngIf="imageLoading"
                    src="../../../assets/account/noprofile2.jpg"
                />

                <img
                    style="
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        border-width: 5px;
                    "
                    [src]="profilePicture"
                    *ngIf="!imageLoading"
                />
                <mat-divider style="margin: 15px 0;"></mat-divider>
                <div
                    style="
                        font-size: x-large;
                        text-align: center;
                        font-weight: 600;
                    "
                >
                    My Account
                </div>
                <mat-divider style="margin: 15px 0;"></mat-divider>
                <button
                    style="width: 100%;"
                    mat-button
                    routerLink="/subscriptions"
                >
                    My Subscriptions
                </button>
                <br />
                <button style="width: 100%;" mat-button routerLink="/bills">
                    My Bills
                </button>
            </mat-drawer>
            <mat-drawer-content style="height: 100%; padding: 3% 17.5% 3% 3%;">
                <form class="registration-form">
                    <!-- <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label>First name</mat-label>
                        <input name="firstName" type="text" matInput placeholder="First Name"
                            [(ngModel)]="customerToUpdate.firstName" />
                    </mat-form-field> -->

                    <mat-form-field style="width: 100%;">
                        <mat-label>First name</mat-label>
                        <input
                            name="firstName"
                            type="text"
                            matInput
                            placeholder="First Name"
                            [(ngModel)]="customerToUpdate.firstName"
                            required="true"
                            #fn="ngModel"
                            minlength="2"
                            maxlength="24"
                        />
                        <mat-error
                            *ngIf="fn.invalid && (fn.dirty || fn.touched)"
                            class="errorText"
                        >
                            <div *ngIf="fn.errors.required">
                                First name is required.
                            </div>
                            <div
                                *ngIf="
                                    fn.errors.minlength || fn.errors.maxlength
                                "
                            >
                                First name need to be > 2 and < 24 characters.
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label>Last name</mat-label>
                        <input
                            name="lastName"
                            type="text"
                            matInput
                            placeholder="Last Name"
                            [(ngModel)]="customerToUpdate.lastName"
                            #ln="ngModel"
                            required="true"
                            minlength="2"
                            maxlength="24"
                        />
                        <mat-error
                            *ngIf="ln.invalid && (ln.dirty || ln.touched)"
                            class="errorText"
                        >
                            <div *ngIf="ln.errors.required">
                                Last name is required.
                            </div>
                            <div
                                *ngIf="
                                    ln.errors.minlength || ln.errors.maxlength
                                "
                            >
                                Last name need to be > 2 and < 24 characters.
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label
                            >Address (Leave it as blank if there is no
                            update)</mat-label
                        >
                        <input
                            name="address"
                            type="text"
                            matInput
                            placeholder="Address"
                            #add="ngModel"
                            [(ngModel)]="customerToUpdate.newAddress"
                            minlength="10"
                            maxlength="64"
                        />
                        <mat-error
                            *ngIf="add.invalid && (add.dirty || add.touched)"
                            class="errorText"
                        >
                            <div
                                *ngIf="
                                    add.errors.minlength || add.errors.maxlength
                                "
                            >
                                Address need to be > 10 and < 64 characters.
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label
                            >Postal Code (Leave it as blank if there is no
                            update)</mat-label
                        >
                        <input
                            name="postalCode"
                            type="text"
                            matInput
                            numbersOnly
                            placeholder="Postal Code"
                            [(ngModel)]="customerToUpdate.newPostalCode"
                            #pc_="ngModel"
                            pattern="^[0-9]{6}$"
                            maxlength="6"
                        />
                        <mat-error
                            *ngIf="pc_.invalid && (pc_.dirty || pc_.touched)"
                            class="errorText"
                        >
                            <div *ngIf="pc_.errors.pattern">
                                Please enter a valid postal code.
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label
                            >NRIC (Leave it as blank if there is no
                            update)</mat-label
                        >
                        <input
                            style="text-transform: uppercase;"
                            name="nric"
                            type="text"
                            matInput
                            placeholder="NRIC"
                            [(ngModel)]="customerToUpdate.newNric"
                            (ngModelChange)="handleNricChange($event)"
                            #nric_="ngModel"
                            pattern="^[STFG]\d{7}[A-JZ]$"
                            maxlength="9"
                        />
                        <mat-error
                            *ngIf="
                                nric_.invalid && (nric_.dirty || nric_.touched)
                            "
                            class="errorText"
                        >
                            <div *ngIf="nric_.errors.pattern">
                                Please enter a valid NRIC.
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label
                            >New Password(Leave it as blank if there is no
                            update)</mat-label
                        >
                        <input
                            name="password"
                            type="password"
                            matInput
                            [(ngModel)]="password"
                        />
                    </mat-form-field>

                    <mat-form-field style="width: 100%; padding-bottom: 0;">
                        <mat-label
                            >Re-enter Password(Leave it as blank if there is no
                            update)</mat-label
                        >
                        <input
                            name="confirmedPassword"
                            type="password"
                            matInput
                            [(ngModel)]="confirmedPassword"
                        />
                    </mat-form-field>
                    <div
                        *ngIf="
                            password != null && password != confirmedPassword
                        "
                        style="color: red;"
                    >
                        <strong>Password does not match!</strong>
                    </div>
                    <br />

                    <mat-label>Upload NRIC Front</mat-label>
                    <input
                        #Image
                        type="file"
                        (change)="handleNricFrontFileInput($event.target.files)"
                    />
                    <img
                        width="100%"
                        *ngIf="imageUrl"
                        [src]="imageUrl"
                        class="image"
                    />
                    <br />
                    <mat-label>Upload NRIC Back</mat-label>
                    <input
                        #Image
                        type="file"
                        (change)="handleNricBackFileInput($event.target.files)"
                    />
                    <img
                        width="100%"
                        *ngIf="imageUrl"
                        [src]="imageUrl"
                        class="image"
                    />
                    <br />
                    <mat-label>Upload Profile photo</mat-label>
                    <input
                        #Image
                        type="file"
                        (change)="
                            handleProfilePicFileInput($event.target.files)
                        "
                    />
                    <img
                        width="100%"
                        *ngIf="imageUrl"
                        [src]="imageUrl"
                        class="image"
                    />
                    <div style="padding-top: 20px;">
                        <button
                            style="width: 100%;"
                            color="primary"
                            mat-raised-button
                            [disabled]="
                                (password != null &&
                                    password != confirmedPassword) ||
                                ((customerToUpdate.newAddress ||
                                    customerToUpdate.newPostalCode ||
                                    customerToUpdate.newNric) &&
                                    (!nricFrontToUpload || !nricBackToUpload))
                            "
                            (click)="updateCustomer()"
                        >
                            Update
                        </button>
                    </div>
                    <div style="padding-top: 20px;">
                        <button
                            style="width: 100%;"
                            mat-button
                            routerLink="/account"
                        >
                            Back
                        </button>
                    </div>
                </form>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
