<div>

    <div style="text-align: center; font-size: larger; padding: 3%;">
        Most users purchased a mobile device
        together with a mobile plan. Would
        you like to check out our mobile
        plans?
    </div>

    <br /><br />
    <span>
        <button mat-raised-button color="primary" (click)="closeDialog()" style="margin: 0px 185px 0px 0px;">No, thanks</button>
    </span>

    <span>
        <a mat-raised-button color="accent" routerLink="/plans" (click)="closeDialog()">Bring me there!</a>
    </span>

</div>