<div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;"></div>
<div style="text-align: center;">
    <h1>Tellybuddy FamilyGroup</h1>
    <div *ngIf="!retrieveFamilyGroupError">
        <mat-sidenav-container fullscreen>
            <mat-sidenav mode="side" opened>
                <ul class="familyGroupMenu">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/familyGroup/viewFamilyGroupDetails">
                            Home</a>
                        <a mat-list-item routerLink="/familyGroup/viewMembers">
                            Members</a>
                        <div *ngIf="ownerOfFamilyGroup">
                            <a mat-list-item routerLink="/familyGroup/viewSettings">
                                Setting</a>
                        </div>
                    </mat-nav-list>
                </ul>
            </mat-sidenav>
            <mat-sidenav-content>
                <div *ngIf="!retrieveFamilyGroupError">
                    <mat-nav-list>
                        <a mat-list-item href="/familyGroup/memberDetails/{{member.customerId}}"
                            *ngFor="let member of familyMembers">
                            {{ member.firstName }} </a>
                    </mat-nav-list>
                </div>

                <button mat-mini-fab color="accent" (click)="openDialog()" aria-label="add member">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</div>