<div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;">
    <div *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <div style="text-align: center;">
            <h1>Mobile Devices</h1>
            <p style="margin-bottom: 30px;">
                Click on a mobile device to add it to cart!
            </p>
        </div>

        <!-- <mat-drawer-container>

            <mat-sidenav-container>
                <mat-sidenav>Start</mat-sidenav>
                <mat-sidenav-content>Main</mat-sidenav-content>
              </mat-sidenav-container> -->

            <mat-grid-list [cols]="isMobile ? 1 : isTablet ? 2 : isLaptop ? 3 : 4" rowHeight="420px">
                <mat-grid-tile *ngFor="let luxury of luxuryProducts, let i = index">
                    <mat-card mat-ripple class="mat-elevation-z8" (click)="addLuxuryProductToCart(i)">
                        <mat-card-title>
                            <div style="text-align:center;">
                                {{ luxury.name }}
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle style="text-align: center; padding: 10px 0 10px 0;">
                            Price: ${{ luxury.price }}
                        </mat-card-subtitle>
                        <img mat-card-image src="assets/productImages/{{ luxury.productImagePath }}">
                        <mat-card-content>
                            <div>
                                Description: {{ luxury.description }}
                            </div>
                        </mat-card-content>

                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>



        <!-- </mat-drawer-container> -->

    </div>
</div>