.mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border-radius: 0;
    text-align: center;
    border-top: 5px solid #f04393;
    cursor: pointer;
}

.mat-card:hover {
    background: rgba(0, 0, 0, 0.04);
}

.mat-card-title {
    margin: 0;
    text-align: center;
}
