<div>
    <div style="padding: 0 17.5% 0 17.5%; margin-top: 3%;" *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <mat-drawer-container>
            <mat-drawer style="width: 45%;" mode="side" opened>
                <div
                    style="
                        font-size: larger;
                        font-weight: 420;
                        width: 100%;
                        margin-top: 5%;
                        text-align: center;
                    "
                >
                    You selected:
                    <br />
                    {{ selectedProduct.name }}
                    <br /><br />
                    <img
                        src="assets/productImages/{{
                            selectedProduct.productImagePath
                        }}"
                        style="width: 420px; height: 420px;"
                    />

                    <mat-divider style="margin: 15px 0;"></mat-divider>

                    <s>
                        <p style="font-size: large; padding-top: 5px;">
                            Original Price of Mobile Device: ${{
                                selectedProduct.price
                            }}
                        </p>
                    </s>

                    <p style="font-size: larger; color: red;">
                        Special Bundle Price of Mobile Device:
                        {{ selectedProduct.price * 0.8 | currency }}
                    </p>

                    <p style="font-size: medium; font-weight: 250;">
                        Description: {{ selectedProduct.description }}
                    </p>
                    <br />
                </div>
            </mat-drawer>
            <mat-drawer-content
                style="
                    padding: 3% 5% 0 5%;
                    font-size: larger;
                    font-weight: 500;
                    text-align: center;
                    height: 85vh;
                "
            >
                Choose your plan now!
                <p style="font-size: small; color: red;">
                    <i>*Note that this is a 2 year bundle contract plan</i>
                </p>
                <br />
                <mat-accordion class="align-headers">
                    <mat-expansion-panel
                        *ngFor="let plan of plans; let i = index"
                        style="
                            display: list-item;
                            border-left: 5px solid #7274d6;
                        "
                        openAll
                    >
                        <mat-expansion-panel-header
                            style="vertical-align: baseline;"
                        >
                            <mat-panel-title style="font-size: larger;">
                                ${{ plan.price }} SIM plan
                            </mat-panel-title>
                            <mat-panel-description>
                                Known as the "{{ plan.name }}"
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div style="margin-top: 5px;" class="row">
                            <div class="column">
                                <div
                                    style="
                                        margin: 15px;
                                        display: inline-block;
                                        font-size: 350%;
                                        font-weight: bold;
                                        border-radius: 95%;
                                        padding: 35px;
                                        background-color: #f04393;
                                        color: white;
                                    "
                                >
                                    {{ plan.totalBasicUnits }}
                                    <div
                                        style="
                                            padding: 0;
                                            padding-top: 20px;
                                            font-size: large;
                                            font-weight: normal;
                                        "
                                    >
                                        Units
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div
                                    style="
                                        padding-bottom: 10px;
                                        margin-top: 10px;
                                        font-weight: bold;
                                        font-size: large;
                                    "
                                >
                                    Conversion Rates
                                </div>
                                <div style="padding: 10px 0 10px 0;">
                                    Data:
                                    {{ plan.dataConversionRate / 1000 }} GB /
                                    unit
                                </div>
                                <div style="padding: 10px 0 10px 0;">
                                    SMS: {{ plan.talktimeConversionRate }} min /
                                    unit
                                </div>
                                <div style="padding: 10px 0 10px 0;">
                                    Talktime: {{ plan.smsConversionRate }} SMS /
                                    unit
                                </div>
                                <br />
                                
                            </div>
                            
                        </div>
                        <div style="padding-bottom: 20px; font-size: large; font-weight: 700;">
                            Add-on Price: {{plan.addOnPrice | currency}}
                        </div>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="openDialog(i)"
                            style="text-align: center;"
                        >
                            Select
                        </button>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
