<div [ngClass]="{'dialog-class': true}">
    <div mat-dialog-title>
        <div>
            <button style="float: right;" mat-icon-button (click)="onExitClick()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="!loaded">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </div>
    <div *ngIf="loaded">
        <div *ngIf="data.currentFamilyGroup.donatedUnits == 0">

            <h2>No units left in the family group</h2>

        </div>
        <div *ngIf="data.currentFamilyGroup.donatedUnits != 0">
            <p>
                <mat-form-field>

                    <mat-label>Select an subscription you want to receive units</mat-label>
                    <mat-select>
                        <mat-option (onSelectionChange)="selectSubscription($event)" *ngFor="
                  let subscription of currentCustomerSubscription" [value]="subscription">{{subscription.phoneNumber
                      .phoneNumber}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </p>
            <div *ngIf="dataLeft == null">
                Please choose a subscription to donate
            </div>
            <div *ngIf="dataLeft != null">
                <p style="padding-top: 10px;">Allocate the units you want to receive:</p>
                <div>
                    <div style="float: left;">
                        <div>
                            Data Units:
                            <mat-slider #dataSlider [max]="data.currentFamilyGroup.donatedUnits" thumbLabel
                                (change)="handleDataSliderChange($event.value)" (input)="
            $event.value - receivedData <= getRemainingUnits()
                                ? (receivedData = $event.value)
                                : $event.value <= dataUnits
                                ? (receivedData = $event.value)
                                : (receivedData = receivedData)">
                            </mat-slider>
                            Total Data Unit: {{receivedData + dataLeft}}
                        </div>
                        <div>
                            SMS Units:
                            <mat-slider #smsSlider [max]="data.currentFamilyGroup.donatedUnits" thumbLabel
                                (change)="handleSMSSliderChange($event.value)" (input)="
            $event.value - receivedSMS <= getRemainingUnits()
                                ? (receivedSMS = $event.value)
                                : $event.value <= receivedSMS
                                ? (receivedSMS = $event.value)
                                : (receivedSMS = receivedSMS)">
                            </mat-slider>
                            Total SMS Unit:{{receivedSMS + smsLeft}}
                        </div>
                        <div>
                            Talk Time Units:
                            <mat-slider #talktimeSlider [max]="data.currentFamilyGroup.donatedUnits" thumbLabel
                                (change)="handleTalkTimeSliderChange($event.value)" (input)="
            $event.value - receivedTalkTime <= getRemainingUnits()
                                ? (receivedTalkTime = $event.value)
                                : $event.value <= receivedTalkTime
                                ? (receivedTalkTime = $event.value)
                                : (receivedTalkTime = receivedTalkTime)">
                            </mat-slider>
                            Total Talk Time Unit: {{receivedTalkTime + talkTimeLeft}}
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <div style="
                            align-self: center;
                            margin: 15px 0 25px 0;
                            display: inline-block;
                            font-size: 350%;
                            font-weight: bold;
                            border-radius: 50%;
                            padding: 15px 25px 15px 25px;
                            background-color: #f04393;
                            color: white;
                        ">
                            {{ getRemainingUnits() }}
                            <div style="
                                padding: 0;
                                font-size: initial;
                                font-weight: normal;
                            ">
                                units left
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center; padding-top: 10px;">
                <button [disabled]="dataLeft == null" mat-raised-button color="primary" (click)="receive()">
                    Receive
                </button>
            </div>
        </div>
    </div>
</div>