<div mat-dialog-title>
    <div>
        Receive Units
        <button style="float: right;" mat-icon-button (click)="onExitClick()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div>
    <div
        *ngIf="
            data.currentFamilyGroup.donatedDataUnits +
                data.currentFamilyGroup.donatedSMSUnits +
                data.currentFamilyGroup.donatedTalkTimeUnits ==
            0
        "
    >
        No units left in the family group
    </div>
    <div *ngIf="!currentCustomerSubscription.length">
        No active subscriptions to receive units
    </div>
    <div
        *ngIf="
            data.currentFamilyGroup.donatedDataUnits +
                data.currentFamilyGroup.donatedSMSUnits +
                data.currentFamilyGroup.donatedTalkTimeUnits !=
                0 && currentCustomerSubscription.length
        "
    >
        <mat-form-field>
            <mat-label
                >Select an subscription you want to receive units</mat-label
            >
            <mat-select>
                <mat-option
                    (onSelectionChange)="selectSubscription($event)"
                    *ngFor="let subscription of currentCustomerSubscription"
                    [value]="subscription"
                    >{{ subscription.phoneNumber.phoneNumber }}</mat-option
                >
            </mat-select>
        </mat-form-field>
        <div *ngIf="allowedData == null">
            Please choose a subscription to receive
        </div>
        <div *ngIf="allowedData != null">
            <p>
                Allocate the units you want to receive:
            </p>
            <div>
                Data Units:
                <mat-slider
                    #dataSlider
                    [max]="data.currentFamilyGroup.donatedDataUnits"
                    [disabled]="!data.currentFamilyGroup.donatedDataUnits"
                    thumbLabel
                    (input)="receivedData = $event.value"
                >
                </mat-slider>
                New:
                {{
                    selectedSubscription.usageDetails[
                        selectedSubscription.usageDetails.length - 1
                    ].dataUsage
                }}
                /
                {{
                    ((receivedData + allowedData) *
                        selectedSubscription.plan.dataConversionRate) /
                        1000
                }}
                GBs
            </div>
            <div>
                SMS Units:
                <mat-slider
                    #smsSlider
                    [max]="data.currentFamilyGroup.donatedSMSUnits"
                    [disabled]="!data.currentFamilyGroup.donatedSMSUnits"
                    thumbLabel
                    (input)="receivedSMS = $event.value"
                >
                </mat-slider>
                New:
                {{
                    selectedSubscription.usageDetails[
                        selectedSubscription.usageDetails.length - 1
                    ].smsUsage
                }}
                /
                {{
                    (receivedSMS + allowedSms) *
                        selectedSubscription.plan.smsConversionRate
                }}
                SMS
            </div>
            <div>
                Talk Time Units:
                <mat-slider
                    #talktimeSlider
                    [max]="data.currentFamilyGroup.donatedTalkTimeUnits"
                    [disabled]="!data.currentFamilyGroup.donatedTalkTimeUnits"
                    thumbLabel
                    (input)="receivedTalkTime = $event.value"
                >
                </mat-slider>
                New:
                {{
                    selectedSubscription.usageDetails[
                        selectedSubscription.usageDetails.length - 1
                    ].talktimeUsage
                }}
                /
                {{
                    (receivedTalkTime + allowedTalktime) *
                        selectedSubscription.plan.talktimeConversionRate
                }}
                mins
            </div>
            <div style="font-weight: 500; margin: 10px 0; font-size: large;">
                Current Pool State
            </div>
            <div class="row">
                <div class="column">
                    <div
                        style="
                            align-self: center;
                            margin: 15px 0 25px 0;
                            display: inline-block;
                            font-size: 350%;
                            font-weight: bold;
                            border-radius: 50%;
                            padding: 5px 30px 5px 30px;
                            background-color: #5874dc;
                            color: white;
                        "
                    >
                        {{
                            data.currentFamilyGroup.donatedDataUnits -
                                receivedData
                        }}
                        <div
                            style="
                                padding: 0;
                                font-size: initial;
                                font-weight: normal;
                            "
                        >
                            Data
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div
                        style="
                            align-self: center;
                            margin: 15px 0 25px 0;
                            display: inline-block;
                            font-size: 350%;
                            font-weight: bold;
                            border-radius: 50%;
                            padding: 5px 30px 5px 30px;
                            background-color: #5874dc;
                            color: white;
                        "
                    >
                        {{
                            data.currentFamilyGroup.donatedSMSUnits -
                                receivedSMS
                        }}
                        <div
                            style="
                                padding: 0;
                                font-size: initial;
                                font-weight: normal;
                            "
                        >
                            SMS
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div
                        style="
                            align-self: center;
                            margin: 15px 0 25px 0;
                            display: inline-block;
                            font-size: 350%;
                            font-weight: bold;
                            border-radius: 50%;
                            padding: 5px 30px 5px 30px;
                            background-color: #5874dc;
                            color: white;
                        "
                    >
                        {{
                            data.currentFamilyGroup.donatedTalkTimeUnits -
                                receivedTalkTime
                        }}
                        <div
                            style="
                                padding: 0;
                                font-size: initial;
                                font-weight: normal;
                            "
                        >
                            Call
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center; padding-top: 10px;">
            <button
                [disabled]="allowedData == null"
                mat-raised-button
                color="primary"
                (click)="receive()"
            >
                Receive
            </button>
        </div>
    </div>
</div>
