<div style="padding: 3% 30% 0 30%;">
    <mat-card>
        <mat-card-title>Reset Password</mat-card-title>

        <mat-card-content>
            <form class="rest-password-form">
                <mat-form-field style="width: 100%;">
                    <mat-label>New Password</mat-label>
                    <input
                        name="newPassword"
                        type="password"
                        matInput
                        placeholder="Password"
                        [(ngModel)]="newPassword"
                        required
                    />
                </mat-form-field>
                <br />
                <mat-form-field style="width: 100%;">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        name="confirmationPassword"
                        type="password"
                        matInput
                        placeholder="Password"
                        [(ngModel)]="newPasswordConfirmation"
                        required
                    />
                </mat-form-field>
                <br />
                <div style="padding-top: 20px;">
                    <button
                        mat-button
                        style="
                            background: #3c4cad;
                            color: white;
                            width: 100%;
                            font-size: medium;
                        "
                        (click)="resetPassword()"
                    >
                        Reset
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
