<div style="padding: 3% 20% 0 20%;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="login-form">
                <mat-form-field class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input
                        name="newPassword"
                        type="password"
                        matInput
                        placeholder="Password"
                        [(ngModel)]="password"
                        required
                    />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        name="confirmationPassword"
                        type="password"
                        matInput
                        placeholder="Password"
                        [(ngModel)]="confirmationPassword"
                        required
                    />
                </mat-form-field>
                <br />
                <button mat-button (click)="resetPassword()">Update</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
